table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td,
  table th {
    padding-left: 8px;
    vertical-align: middle;
    font-size: 14px;
  }
  table thead tr {
    height: 60px;
    background: linear-gradient(90deg, rgba(13,211,235,1) 0%, rgba(27,105,191,1) 48%, rgba(120,52,221,1) 100%, rgba(0,212,255,1) 100%);
    font-size: 16px;
    color: white;
  }
  table tbody tr {
    height: 48px;
    border-bottom: 1px solid #ecf2ff ;
  }

  table td,
  table th {
    text-align: left;
  }
  table td.l,
  table th.l {
    text-align: right;
  }
  table td.c,
  table th.c {
    text-align: center;
  }
  table td.r,
  table th.r {
    text-align: center;
  }
  
  @media screen and (max-width: 35.5em) {
    table {
      display: block;
    }
    table > *,
  table tr,
  table td,
  table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 8px 0;
    }
    table tbody tr td {
      padding-left: 45%;
      margin-bottom: 12px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      position: absolute;
      font-weight: 700;
      /* width: 40%; */
      left: 10px;
      /* top: 0; */
      vertical-align: middle;
    }
    table tbody tr td:nth-child(1):before {
      content: "Project name";
    }
    table tbody tr td:nth-child(2):before {
      content: "Rating";
    }
    table tbody tr td:nth-child(3):before {
      content: "Dates";
    }
    table tbody tr td:nth-child(4):before {
      content: "IDO price";
    }
    table tbody tr td:nth-child(5):before {
      content: "Supply";
    }
    table tbody tr td:nth-child(6):before {
        content: "Market cap";
      }
      table tbody tr td:nth-child(7):before {
        content: "Links";
      }
  }

  .dataTable-table > thead > tr > th {
    vertical-align: middle; 
}
table td, table th {
    text-align: center;
    vertical-align: middle !important;
}
  
  blockquote {
    color: white;
    text-align: center;
  }
  i{
    background:-moz-linear-gradient(top, #51bee9 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #51bee9 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #51bee9 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
  }